= simple_form_for(@user, wrapper: :horizontal_form, html: { class: 'form-horizontal' }) do |f|
  = f.error_notification
  = f.input :email, label: 'メールアドレス'
  = f.input :password, label: 'パスワード', as: :string
  = f.button :submit
