= form_for @drill do |f|
  - if @drill.errors.any?
    #error_explanation
      %h2= "#{pluralize(@drill.errors.count, "error")} prohibited this drill from being saved:"
      %ul
        - @drill.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :japanese
    = f.text_field :japanese
  .field
    = f.label :english
    = f.text_field :english
  .actions
    = f.submit 'Save'
