%h1 Listing drills

%table
  %thead
    %tr
      %th Japanese
      %th English
      %th
      %th
      %th

  %tbody
    - @drills.each do |drill|
      %tr
        %td= drill.japanese
        %td= drill.english
        %td= link_to 'Show', drill
        %td= link_to 'Edit', edit_drill_path(drill)
        %td= link_to 'Destroy', drill, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Drill', new_drill_path
